Reddid lead hunt.json
{
  "name": "Reddid lead hunt",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -320
      ],
      "id": "4552f25b-e6db-4fbd-ba6c-d7d395f2ee5e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pmoW6LBeR1E23qfObMf_ce8pOpohP0qmftU9N7Vuq6o",
          "mode": "list",
          "cachedResultName": "Enhanced Business Profile",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmoW6LBeR1E23qfObMf_ce8pOpohP0qmftU9N7Vuq6o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmoW6LBeR1E23qfObMf_ce8pOpohP0qmftU9N7Vuq6o/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -208,
        -320
      ],
      "id": "66c4b9df-86d7-4638-a07e-26eae12af0e4",
      "name": "Get Enhanced Business Profile",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HTOprDxNQe1k8VvS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        -96
      ],
      "id": "0110d814-6923-474e-afae-a8c82a60f9a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dUu9T4dAc8Ofs3we",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subreddits\": [\n    \"r/entrepreneur\",\n    \"r/startups\",\n    \"r/SaaS\",\n    \"r/marketing\",\n    \"r/ecommerce\"\n  ],\n  \"reasoning\": \"Selected based on target audience and problem alignment\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        208,
        -96
      ],
      "id": "fa3e6273-7c4a-45d9-8dfb-5238e0748894",
      "name": "Subreddit Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Reddit lead generation strategist. Analyze the business profile and identify the 5 most relevant subreddits for lead generation.\n\n**Business Profile:**\n- Profession: {{ $json.profession }}\n- Industry: {{ $json.industry }}\n- Primary Services: {{ $json.primary_services }}\n- Service Keywords: {{ $json.service_keywords }}\n- Target Client: {{ $json['target_client_profile '] }}\n- Pain Points: {{ $json.pain_points }}\n\n**Selection Criteria:**\n1. **High Intent Communities**: Subreddits where your target clients actively seek solutions\n2. **Problem-Focused**: Communities discussing specific pain points you solve\n3. **Business Context**: Professional subreddits with decision-makers\n4. **Active Engagement**: 10K+ members with recent quality discussions\n5. **Lead-Friendly**: Communities that welcome helpful solutions (not purely promotional)\n\n**Avoid:**\n- Pure promotional subreddits\n- Overly broad communities (r/AskReddit)\n- Student/hobbyist focused groups\n- Dead or low-engagement communities\n\nReturn the 5 most strategic subreddits that balance relevance, engagement, and lead potential. Include reasoning for your selections.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        80,
        -320
      ],
      "id": "6c5b08e9-3469-41a8-bac6-1bd85355acb4",
      "name": "Strategic Subreddit Selector"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "1c96b400-b522-4944-9d1d-94f3ece1ddef",
      "name": "Query Generator Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dUu9T4dAc8Ofs3we",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[ {\n      \"type\": \"direct_service_request\",\n      \"query\": \"(subreddit:entrepreneur OR subreddit:startups) (\\\"looking for\\\" OR \\\"need to hire\\\") (\\\"SEO expert\\\" OR \\\"digital marketing\\\") -(\\\"I offer\\\" OR \\\"my service\\\")\",\n      \"intent_level\": \"high\"\n    },\n    {\n      \"type\": \"problem_focused\",\n      \"query\": \"(subreddit:marketing OR subreddit:SaaS) (\\\"struggling with\\\" OR \\\"problem with\\\") (\\\"conversion rate\\\" OR \\\"email marketing\\\") AND (\\\"help\\\" OR \\\"advice\\\")\",\n      \"intent_level\": \"medium-high\"\n    },\n    {\n      \"type\": \"recommendation_request\",\n      \"query\": \"(subreddit:ecommerce OR subreddit:entrepreneur) (\\\"recommend\\\" OR \\\"suggestions\\\") (\\\"marketing agency\\\" OR \\\"SEO tools\\\") -(\\\"free\\\" OR \\\"DIY\\\")\",\n      \"intent_level\": \"medium\"\n    }\n  \n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        0
      ],
      "id": "978002c3-a72e-420c-845c-3474d1fb64a9",
      "name": "Multi-Query Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a Reddit search expert specializing in B2B lead identification.\n\nCreate 3 focused search queries targeting different intent types:\n\n**Business Context:**\n- Profession:{{ $('Get Enhanced Business Profile').item.json.profession }} \n- Primary Services: {{ $('Get Enhanced Business Profile').item.json.primary_services }}\n- Service Keywords: {{ $('Get Enhanced Business Profile').item.json.service_keywords }}\n- Target Client: {{ $('Get Enhanced Business Profile').item.json['target_client_profile '] }}\n- Pain Points: {{ $('Get Enhanced Business Profile').item.json.pain_points }}\n- Intent Signals: {{ $('Get Enhanced Business Profile').item.json.intent_signals }}\n- Urgency Indicators: {{ $('Get Enhanced Business Profile').item.json.urgency_indicators }}\n\n**Target Subreddits:** {{ $json.output.subreddits }}\n\n**Query Types to Create:**\n\n1. **Direct Service Requests** (High Intent)\n   - People explicitly asking for your type of service as a {{ $('Get Enhanced Business Profile').item.json.profession }} \n   - Format: (subreddit:X OR subreddit:Y) (\"looking for\" OR \"need\" OR \"hire\") (\"service_keyword1\" OR \"service_keyword2\") -(\"I offer\" OR \"my service\")\n\n2. **Problem-Focused** (Medium-High Intent)  \n   - People describing problems you solve as a {{ $('Get Enhanced Business Profile').item.json.profession }} \n   - Format: (subreddit:X OR subreddit:Y) (\"struggling with\" OR \"problem with\") (\"pain_point1\" OR \"pain_point2\") AND (\"help\" OR \"advice\" OR \"solution\")\n\n3. **Recommendation Requests** (Medium Intent)\n   - People asking for tool/service recommendations that a {{ $('Get Enhanced Business Profile').item.json.profession }} can help\n   - Format: (subreddit:X OR subreddit:Y) (\"recommend\" OR \"suggestions\") (\"service_area\") -(\"free\" OR \"DIY\")\n\n**Query Rules:**\n- Keep each query under 200 characters\n- Use exact pain point language from target audience\n- Include 3-5 service keywords per query\n- Exclude competitor promotional content\n- Focus on business decision-maker language\n\nOutput 3 separate optimized queries with their intent levels. ",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        496,
        -320
      ],
      "id": "abcd25e7-1fe3-4fad-8d10-56480db28aa6",
      "name": "Multi-Query Generator"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1232,
        -432
      ],
      "id": "24a75509-1cc4-40e3-b27f-3aa23b5419e0",
      "name": "Split Query Batches"
    },
    {
      "parameters": {
        "operation": "search",
        "location": "allReddit",
        "keyword": "={{ $json.query }}",
        "limit": 10,
        "additionalFields": {
          "sort": "new"
        }
      },
      "name": "Reddit Search Engine",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        1360,
        -224
      ],
      "id": "c306da2f-f91d-4729-9a10-3545ce47d9ad",
      "credentials": {
        "redditOAuth2Api": {
          "id": "t8iN1rbvkVwOjnMu",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        -144
      ],
      "id": "d1011a5b-3c19-4054-964a-9d53e2d16e82",
      "name": "Lead Classifier Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dUu9T4dAc8Ofs3we",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2368,
        -256
      ],
      "id": "80f2df09-3262-46b7-bbe6-46fc32c9dbb4",
      "name": "Service Opportunity Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dUu9T4dAc8Ofs3we",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"lead_score\": 8,\n  \"urgency_level\": \"high\",\n  \"business_context\": \"SaaS startup with scaling challenges\",\n  \"specific_problem\": \"Conversion rate dropping after recent website changes\",\n  \"recommended_service\": \"Comprehensive conversion rate audit and optimization strategy\",\n  \"outreach_approach\": \"Offer free 15-minute conversion analysis to demonstrate expertise\",\n  \"estimated_value\": \"$3000-5000\",\n  \"response_priority\": \"immediate\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2560,
        -272
      ],
      "id": "ed64c9e1-d3b5-4fee-9dfd-7a6d26543a94",
      "name": "Service Analysis Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a business development strategist analyzing Reddit posts for service opportunities.\n\n**Professional Context:**\n- Profession: {{ $('Get Enhanced Business Profile').item.json.profession }}\n- Primary Services: {{ $('Get Enhanced Business Profile').item.json.primary_services }}\n- Target Clients: {{ $('Get Enhanced Business Profile').item.json.target_client_profile }}\n- Price Range: {{ $('Get Enhanced Business Profile').item.json.price_range }}\n- Service Keywords: {{ $('Get Enhanced Business Profile').item.json.service_keywords }}\n\n**Reddit Post Analysis:**\nTitle: {{ $json.title }}\nContent: {{ $json.selftext }}\nSubreddit: {{ $json.subreddit_name_prefixed }}\nEngagement: {{ $json.score }} upvotes, {{ $json.num_comments }} comments\nClassification: {{ $json.category }}\n\n**Analysis Framework:**\n1. **Problem Identification**: What specific business problem is expressed?\n2. **Service Mapping**: Which of your services directly addresses this problem?\n3. **Value Assessment**: What measurable outcome could you deliver?\n4. **Urgency Assessment**: How time-sensitive is their need?\n5. **Business Context**: Are they the right size/type of client?\n6. **Competition Analysis**: How many others are likely targeting this lead?\n\n**Scoring Criteria:**\n- Lead Score (1-10): Overall conversion probability\n- Urgency Level: immediate/high/medium/low\n- Estimated Value: Based on problem scope and your pricing\n- Response Priority: immediate/today/this_week/monitor\n\n**Output Requirements:**\nProvide a comprehensive lead analysis including specific service recommendations, outreach strategy, and business justification. Focus on actionable insights for immediate lead engagement.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2384,
        -464
      ],
      "id": "55b90732-6359-4692-ba85-9e3ed7660995",
      "name": "Service Opportunity Analyzer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "high-value-filter",
              "leftValue": "={{ $json.output.lead_score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2752,
        -464
      ],
      "id": "0520c053-b24f-46ba-ad90-7b839184e05d",
      "name": "High Value Filter"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1cTkC1xkj11B0O81UBz-DXbkZ9oAOxsBTk3YsHJHfJ1k",
          "mode": "list",
          "cachedResultName": "Redditleads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cTkC1xkj11B0O81UBz-DXbkZ9oAOxsBTk3YsHJHfJ1k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cTkC1xkj11B0O81UBz-DXbkZ9oAOxsBTk3YsHJHfJ1k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post_url": "={{ $('Loop Over Items').item.json.url}}",
            "post_title": "={{ $('Loop Over Items').item.json.title}}",
            "post_date": "={{ $('Loop Over Items').item.json.created}}",
            "post_id": "={{ $('Loop Over Items').item.json.id}}",
            "post_post": "={{ $('Loop Over Items').item.json.selftext}}",
            "post_subreddit": "={{ $('Loop Over Items').item.json.subreddit_name_prefixed}}",
            "service suggestion": "={{ $json.output.toJsonString() }}"
          },
          "matchingColumns": [
            "post_id"
          ],
          "schema": [
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_url",
              "displayName": "post_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_title",
              "displayName": "post_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_post",
              "displayName": "post_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_subreddit",
              "displayName": "post_subreddit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_date",
              "displayName": "post_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service suggestion",
              "displayName": "service suggestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Save High-Value Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3008,
        -208
      ],
      "id": "93f5c07d-6b77-44d2-a6f2-a6a5a4b4db92",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HTOprDxNQe1k8VvS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.outputs=item.json.output\n  \nreturn item.json.outputs"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -336
      ],
      "id": "3012c47d-58e5-46b3-a3e5-790d34e22e56",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2064,
        -480
      ],
      "id": "84700109-17f0-4b9d-b092-50e7b572f12e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "inputText": "=**Service Profile:**\n<profession>{{ $('Get Enhanced Business Profile').item.json.profession }}</profession>\n<primary_services>{{ $('Get Enhanced Business Profile').item.json.primary_services }}</primary_services>\n<target_client>{{ $('Get Enhanced Business Profile').item.json['target_client_profile '] }}</target_client>\n\n<pain_points>{{ $('Get Enhanced Business Profile').item.json.pain_points }}</pain_points>\n\n**Post Content:**\n<title>{{ $json.title || 'N/A' }}</title>\n<content>{{ $json.selftext || $json.text || $json.content || $json.body || 'No content' }}</content>\n<subreddit>{{ $json.subreddit_name_prefixed }}</subreddit>\n<author>{{ $json.author || 'unknown' }}</author>\n<engagement>{{ $json.score || 0 }} upvotes, {{ $json.num_comments || 0 }} comments</engagement>\n<post_age>{{ $json.created || 'unknown' }}</post_age>",
        "categories": {
          "categories": [
            {
              "category": "HIGH_POTENTIAL",
              "description": "=Posts that clearly describe business problems, pain points, or requests for help that directly align with the service profile. The author appears to be from the target audience and is actively seeking solutions. These represent high-value lead opportunities with strong conversion potentialfor  for a {{ $('Get Enhanced Business Profile').item.json.profession }}"
            },
            {
              "category": "MEDIUM_POTENTIAL",
              "description": "=Posts that mention relevant challenges or needs but may be less specific or from audience segments that are somewhat aligned. These could be developed into leads with the right approach but require more nurturing."
            },
            {
              "category": "LOW_POTENTIAL",
              "description": "Posts that have minimal relevance to the services offered or come from audiences outside the target demographic. These are unlikely to convert but might provide industry insights."
            },
            {
              "category": "NO_POTENTIAL",
              "description": "Posts that are clearly promotional, self-serving, or completely irrelevant to the service profile. These should be ignored as they offer no business value and may harm reputation if engaged with."
            }
          ]
        },
        "options": {}
      },
      "name": "AI Lead Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        1568,
        -464
      ],
      "id": "0072a9bc-d787-49af-91c6-8ec546258f56"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Enhanced Business Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Enhanced Business Profile": {
      "main": [
        [
          {
            "node": "Strategic Subreddit Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Strategic Subreddit Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Subreddit Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Strategic Subreddit Selector",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Strategic Subreddit Selector": {
      "main": [
        [
          {
            "node": "Multi-Query Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Generator Model": {
      "ai_languageModel": [
        [
          {
            "node": "Multi-Query Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Query Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Multi-Query Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Query Generator": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Query Batches": {
      "main": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reddit Search Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Search Engine": {
      "main": [
        [
          {
            "node": "Split Query Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Classifier Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Lead Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Service Opportunity Model": {
      "ai_languageModel": [
        [
          {
            "node": "Service Opportunity Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Service Analysis Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Service Opportunity Analyzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Service Opportunity Analyzer": {
      "main": [
        [
          {
            "node": "High Value Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Value Filter": {
      "main": [
        [
          {
            "node": "Save High-Value Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Query Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Service Opportunity Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save High-Value Leads": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Classifier": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6fa74d3d-f863-42fc-94a3-7c38d915ec40",
  "meta": {
    "instanceId": "068a61c7fa803da8e879703d0bfd90cdda8e70e4d7cbb16acb99c7c3dc31c21d"
  },
  "id": "PDk5XYRiGbBpHOOs",
  "tags": []
}